$glod: #8f7647;
$glod-100: tint-color($glod, 80%) !default;
$glod-200: tint-color($glod, 60%) !default;
$glod-300: tint-color($glod, 40%) !default;
$glod-400: tint-color($glod, 20%) !default;
$glod-500: $glod !default;
$glod-600: shade-color($glod, 20%) !default;
$glod-700: shade-color($glod, 40%) !default;
$glod-800: shade-color($glod, 60%) !default;
$glod-900: shade-color($glod, 80%) !default;
$glods: (
  "glod-100": $glod-100,
  "glod-200": $glod-200,
  "glod-300": $glod-300,
  "glod-400": $glod-400,
  "glod-500": $glod-500,
  "glod-600": $glod-600,
  "glod-700": $glod-700,
  "glod-800": $glod-800,
  "glod-900": $glod-900
) !default;